.underline:before {
    background-color: #c8ceff;
  }

.nav-dropdown-content a:hover {
    display: block;
    background-color: #dde2ee;
}

.navbar .nav-button a {
    background-color: rgb(94, 95, 146);
  }

.nav-button:hover a {
    background-color: rgb(84, 85, 133);
}

.homepage-background {
    opacity: 0.2;
}

.homepage-content {
  color: rgb(199, 210, 247);
}

.homepage-heading {
  color: rgb(225, 233, 255);

}

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: #c3cddd }
    20% { border-color: transparent; }
    40% { border-color: #c3cddd }
    60% { border-color: transparent; }
    80% { border-color: #c3cddd }
  }
  
#charlotte {
    color: rgb(217, 227, 255);
}

.become-a-tutor_bodypage {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 18px;
}

.become-a-tutor_body1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 22px;
  position: relative;
  padding: 100px 0px 0px;
}

.become-a-tutor_process {
  width: 80%;
  padding-left: 10%;
}

.process-title {
  color: rgb(220, 228, 255);
  font-size: 32px;
}

.process-steps {
  display: flex;
  justify-content: center;
  position: relative;
}

.single-step {
  font-size: 22px;
  width: 30%;
  padding: 0px 4%;
  text-align: center;
}

.step-pic {
  width: 150px;
  height: auto;
}

.become-a-tutor_reqs {
  display: flex;
  padding-top: 150px;
  width: 80%;
  padding-left: 10%;
}

.become-a-tutor_reqs li {
  
}

.become-a-tutor_body1-form {
  background-color: white;
  width: 35%;
  height: 800px;
  opacity: 1;
  margin-left: 75px;
  border-radius: 10px;
}

