.navbar .nav-button a {
    background-color: rgb(108, 93, 133);
}
  
.nav-button:hover a {
   background-color: rgb(98, 82, 116);
}

.homepage-heading {
    color:#f6eeff;
}

.contact_bodypage {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 18px;
    color: white;
}

.contact_body1 {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.contact_body1-content {
    font-size: 32px;
    height: auto;
}

.contact_body1-content .segment {
    margin-bottom: 100px;
}
